<a href="{{ path('logout') }}">disconnect</a>

<br>
{% if error == 'yes' %}
    nom existe deja, saisissez un autre nom
{% endif %}
<br>

{{ form(form) }}

<a href="{{ path('DeleteClient_ClientProfile', {'id': client.id}) }}">supprimer client</a>

